.container {
  display: flex;
  font-size: var(--font-size-sm);
  color: var(--color-primary-white);
  line-height: 16px;
  gap: 5px;

  &__square {
    margin-top: 5px;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    background-color: var(--color-primary-green);
  }
}
