.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 50px 40px 70px 40px;
  gap: 16px;

  &__header {
    color: var(--color-primary-white);
    font-weight: var(--font-weight-bold);
    font-size: 35px;
    align-self: flex-start;
  }

  &__headerHighlited {
    color: var(--color-secondary-black);
    font-weight: var(--font-weight-bold);
    font-size: 35px;
    display: inline-block;
    background-color: var(--color-primary-green);
    align-self: flex-start;
    line-height: 35px;
    padding: 0 10px 4px 10px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-blue);
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 25px 25px;
    margin-top: 15px;
    line-height: 19px;
    gap: 15px;
  }

  &__cardUpperText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-size: 25px;
    color: var(--color-primary-white);
    font-weight: var(--font-weight-bold);
  }

  &__cardNumber {
    color: var(--color-primary-green);
  }

  &__cardContent {
    color: var(--color-primary-white);
    font-size: 12px;
    opacity: 0.65;
    font-weight: var(--font-weight-bold);
  }
}
