.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 40px 0px 40px;

  &__title {
    font-size: 32px;
    color: var(--color-primary-white);
    font-weight: var(--font-weight-bold);
    line-height: 34px;
  }
}
