.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 40px 0px 40px;

  &__title {
    font-size: var(--font-size-xl);
    color: var(--color-primary-white);
    line-height: 34px;
  }
}
