.container {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  &__textWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    color: var(--color-primary-green);
    font-size: 20px;
  }

  &__content {
    color: var(--color-primary-white);
    font-size: 12px;
    line-height: 20px;
  }
}
