.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-primary-white);
  padding: 50px 40px 30px 40px;
  gap: 30px;

  &__title {
    color: var(--color-primary-black);
    font-size: 25px;
    font-weight: var(--font-weight-bold);
    align-self: flex-start;
  }

  &__titleHighlited {
    color: var(--color-primary-black);
    font-size: 25px;
    display: inline-block;
    padding: 5px 7px 5px 0;
    background-color: var(--color-primary-green);
    margin-top: -25px;
    align-self: flex-start;
    font-weight: var(--font-weight-bold);
  }

  &__authorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 180px;
    padding: 15px 20px;
    background-color: var(--color-third-grey);
    border-radius: 20px;
    transform: rotate(-5deg);
  }

  &__image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--color-primary-grey);
  }

  &__authorCardName {
    font-size: 18px;
    color: var(--color-primary-black);
    font-weight: var(--font-weight-bold);
  }

  &__authorCardContent {
    font-size: 14px;
    color: var(--color-primary-grey);
    font-weight: var(--font-weight-bold);
  }

  &__mainContent {
    color: var(--color-primary-black);
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    row-gap: 20px;
  }
}
