.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;

  &__titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
  }

  &__titleHighlited {
    background-color: var(--color-primary-green);
    padding: 4px;
    font-size: 20px;
    color: var(--color-secondary-black);
    font-weight: var(--font-weight-bold);
    border: none;
    margin-left: 28px;
  }

  &__title {
    color: var(--color-primary-white);
    font-size: 20px;
    line-height: 25px;
    margin-top: -40px;
    font-weight: var(--font-weight-bold);
    margin-left: 32px;
  }
}
