.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  justify-content: flex-start;
  gap: 40px;

  &__titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
  }

  &__titleHighlited {
    background-color: var(--color-primary-green);
    padding: 4px;
    font-size: 20px;
    color: var(--color-secondary-black);
    font-weight: var(--font-weight-bold);
    border: none;
  }

  &__title {
    color: var(--color-primary-white);
    font-size: 20px;
    margin-top: -40px;
    font-weight: var(--font-weight-bold);
  }
}

@media (max-width: 380px) {
  .container {
    &__title {
      font-size: 20px;
    }
    &__titleHighlited {
      font-size: 20px;
    }
  }
}
