.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;

  &__title {
    color: var(--color-primary-white);
    font-size: 55px;
  }
}

@media (max-width: 768px) {
  .container {
    &__title {
      font-size: var(--font-size-xl);
    }
  }
}

@media (max-width: 468px) {
  .container {
    &__title {
      font-size: var(--font-size-md);
    }
  }
}
