:root {
  --color-primary-black: #000;

  --color-primary-white: #fff;

  --color-primary-blue: #0000ff;

  --color-primary-green: #6ede51;

  --color-primary-grey: #979797;

  --color-secondary-white: #c9d9db;

  --color-secondary-grey: #3f3f3f;

  --color-secondary-black: #181a20;

  --color-secondary-green: #d9f6d2;

  --color-third-green: #2d7e18;

  --color-secondary-blue: #24242d;
}
//example colors
