:root {
  --font-size-xs: 12px;
  --font-size-sm: 16px;
  --font-size-md: 22px;
  --font-size-xl: 30px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
}
//example fonts