@font-face {
  font-family: 'Rubik';
  src: url('src/stylesheets/fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('src/stylesheets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('src/stylesheets/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('src/stylesheets/fonts/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('src/stylesheets/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('src/stylesheets/fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-size-xs: 12px;
  --font-size-sm: 16px;
  --font-size-md: 22px;
  --font-size-xl: 30px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
  font-family: 'Rubik', sans-serif;
}
//example fonts
