.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    margin-left: 20px;
    font-size: 35px;
    color: var(--color-primary-white);
    font-weight: var(--font-weight-bold);
  }
}
