.container {
  margin-top: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px 40px;
  background-color: #0b0c10;
  letter-spacing: 0.5px;
  gap: 8px;

  &__catchyText {
    font-weight: var(--font-weight-bold);
    font-size: 32px;
    color: var(--color-primary-white);
    align-self: flex-start;
  }

  &__highlitedText {
    background-color: var(--color-primary-green);
    color: var(--color-secondary-black);
    padding: 10px;
    display: inline-block;
    margin-top: 8px;
    border: none;
  }

  &__courseInfo {
    width: 70%;
    color: var(--color-primary-white);
    align-self: flex-start;
    font-size: 12px;
  }

  &__image {
    width: 300px;
    height: 300px;
  }

  &__courseDetails {
    color: var(--color-primary-white);
    align-self: flex-start;
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__buttonContainer {
    width: 65%;
    align-self: flex-start;
    margin-top: 15px;
  }
}

@media (max-width: 360px) {
  .container {
    &__catchyText {
      font-size: 24px;
    }
  }
}
