.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  color: var(--color-secondary-black);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-md);
  border-radius: 50px;
  transition: all 0.3s ease;

  &_primary {
    background-color: var(--color-primary-black);
    color: var(--color-secondary-green);
    &:hover {
      background-color: var(--color-primary-grey);
      transform: scale(1.1);
      color: var(--color-primary-white);
    }
  }

  &_secondary {
    background-color: var(--color-primary-white);
    color: var(--color-secondary-black);
    &:hover {
      transform: scale(1.1);
      border: 1px solid var(--color-secondary-black);
    }
  }

  &_third {
    background-color: var(--color-primary-green);
    color: var(--color-primary-white);
    &:hover {
      transform: scale(1.1);
      background-color: var(--color-secondary-green);
      color: var(--color-primary-black);
    }
  }

  &_fourth {
    background-color: var(--color-primary-grey);
    color: var(--color-primary-white);
    &:hover {
      transform: scale(1.1);
      background-color: var(--color-primary-white);
      color: var(--color-secondary-black);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(1px);
  }
}