.container {
  overflow: hidden;
  height: 100%;
  margin: 0px 40px 0px 40px;
  padding: 50px 20px 50px 20px;
  border-radius: 20px;
  background-color: var(--color-primary-green);

  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    color: var(--color-primary-white);
    font-size: 32px;
    font-weight: var(--font-weight-bold);
  }

  &__content {
    color: var(--color-primary-black);
    font-size: 12px;
  }
}
